body{
    font-family: Arial, sans-serif;
    background: #fffff0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.bg-img h3{
    background: #94d2bd;
    border: 2px solid #82b3a0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 100px; 

}

.content p{
    background-image: url('/html aource.jpeg');
    padding: 50px;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-origin: border-box;


}
