:root{
    --bg-color: #151F30;
    --text-color: #f0f0f0;
    --accent: #0593A2;
    --light-orange: #FF7A48;
    --dark-orange: #E3371E;
    --darker-orange: #6a1508ff;
    --beige: #F5F5DC;
    --glitter-brown: #A67458;

}


html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0;
    
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    background: rgba(20, 31, 51, 0.9);
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
    top: 0;
    position: sticky;
    white-space: nowrap;
}

.navbar-section ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0 15px;
    white-space: nowrap;
}

.navbar-section a{
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
    
}

.navbar-section a:hover{
    color: var(--accent);
}


.hero{
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
    align-items: center;
    /* flex-wrap: wrap; */
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}


.hero-text .highlight{ color: var(--accent);}
.hero-text .highlight2{ color: var(--light-orange);}
.hero-text .highlight3{ color: var(--dark-orange);}
.hero-text .highlight4{ color: var(--darker-orange);}


.hero-text p{
    padding: 5px 0;
    border-bottom: 2px solid #dcdcdc;
    font-size: 1.6rem;
    color: #dcdcdc;
}


.hero-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.hero-items button{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 18px 27px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 800;
}

.hero-items button:hover{
    transform: scale(1.05);
}

#btn-2{
    background: var(--light-orange);
}

#btn-1{
    background: var(--dark-orange);
}


#btn-1:hover{
    background: #d41c00ff;
}

#btn-2:hover{
    background: #fe6e39ff;
}


.hero-image img {
  width: 200px;
  border-radius: 50%;
  border: 4px solid var(--accent);
}

.about{
    text-align: center;
    padding: 50px 40px;
    margin: 50px 0;
}

.about h2{
    font-size: 3.5rem;
    margin: 0;
}

.about p{
    font-size: 1.6rem;
    color: #dcdcdc;
}

.about .tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
    
}

.about span{
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s;
    font-weight: 600;
    font-size: 1.1rem;
}

.about span:hover{
    border-color: white;
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    
}


.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 30px 60px;

}

.cards a{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    color: white;
    transition: all 1s;


}


/* .cards a:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-8px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

} */

.cards h3{
    color: var(--glitter-brown);
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    font-weight: 600;
}

.cards p{
    font-style: italic;
    color: var(--text-color);
    
}





.card-bounce:hover {
  animation: bounce 0.6s ease;
}

.card-glow:hover {
  animation: glow 1s ease-in-out infinite;
}
.cards a:hover {
  animation: bounce 0.6s ease infinite;
}

/* Bounce animation keyframes */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100%{
      transform: translateY(0);
  }
}



